<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Insert title here</title>
<!-- Bootstrap core CSS -->
<link href="/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="/css/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/jquery-3.1.0.min.js"></script>
</head>
<body>
	<div class="pos-f-t">
		<div class="collapse" id="navbar-header">
			<div class="container-fluid bg-inverse p-a-1">
				<h3>Collapsed content</h3>
				<p>Toggleable via the navbar brand.</p>
			</div>
		</div>
		<div class="navbar navbar-light bg-faded navbar-static-top">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbar-header">&#9776;</button>
		</div>
	</div>

	<div class="container">
		<div class="jumbotron">
			<h1>Navbar example</h1>
			<p class="lead">This example is a quick exercise to illustrate
				how fixed to top navbar works. As you scroll, it will remain fixed
				to the top of your browser's viewport.</p>
			<a class="btn btn-lg btn-primary" href="../../components/#navbar"
				role="button">View navbar docs &raquo;</a>
		</div>
	</div>

</body>
</html>